.rotate {
    transition: .3s all;
}

.rotate:hover {
    transform: rotate(90deg);
}

.scale {
    transition: .5 all;
}

.scale:hover {
    transform: scale(1.2);
}

@keyframes move-down {

    0% {
        top: 10%;
    }

    
    50% {
        top: 35%;
    }

    
    100% {
        top: 50%;
    }
}