.photos-main {
    text-align: center;
    padding: 0;
    background-color: black;
    padding-bottom: 50px;

    @include for-tablet-portrait-up {
        padding-top: 0px;
    }

    @include for-phone-only {
        padding-top: 80px;
    }

    .main__header {
        margin: 0 auto;
        color: white;
        padding: 10px 0;
        width: 100%;
        text-align: center;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;

        & h1 {
            letter-spacing: 1.4vw;
        }
    }


    .main__container {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-auto-rows: 200px 200px;
        row-gap: 20px;
        column-gap: 20px;
        width: 90%;
        margin: 0 auto;
        grid-auto-flow: dense;

        @include for-tablet-portrait-up {
            grid-template-columns: repeat(4, 1fr);
        }

        @include for-phone-only {
            grid-template-columns: 1fr;
        }

        &-gallery {

            &-item {
                width: 100%;
                height: 100%;
                position: relative;

                &:hover .main__container-gallery-item-image img {
                    transform: scale(1.2);
                }


                &-image {
                    width: 100%;
                    height: 100%;
                    overflow: hidden;

                    & img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: 50% 50%;
                        cursor: pointer;
                        transition: .5s ease-in-out;


                    }
                }

                &-text {
                    opacity: 0;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    pointer-events: none;
                    z-index: 4;
                    transition: .3s ease-in-out;
                    background-color: rgba($color: #000, $alpha: .7);
                    width: 70%;
                    height: 70%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0 20px;

                    p {
                        font-size: 25px;
                        // color: black;
                        color: white;

                    }
                }

                &:hover .main__container-gallery-item-text {
                    opacity: 1;
                    animation: move-down .3s linear;
                    
                }


            }
        }
    }

    .main__footer {
        margin-top: 40px;
        display: none;
        justify-content: center;
        align-items: center;

        @include for-tablet-portrait-up {
            display: flex;
        }

       &-back {
           color: $primary-300;;
           transition: .3s ease-in-out;

           &:hover {
               color: white;
           }
       }
    }
}