.navbar {
    position: relative;
    box-shadow: $navbar-shadow;
    display: grid;
    grid-template-columns: 1fr 5fr;
    height: max-content;
    background-color: black;

    &__logo{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        
        &-logo {
            height: 100%;
            width: 100%;

            .logo-nav {
                width: 180px;
                height: 120px;
            }
        }
    }

    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr .5fr;
        @include for-phone-only {
            grid-template-columns: 1.2fr 1fr;
            width: 90%;
        }

        .figure {
            clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
            background-color: white;
        }

        &-item {
            display: flex;
            align-items: center;
            justify-content: center;

            &-project {
                margin-left: 10px;
            }
           
        }
           
    }
    
}
