.navbar {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 5fr;
    height: max-content;
    background-color: black;

   

    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        
        &-logo {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;

            .logo-nav {
                width: 180px;
                height: 120px;
            }
        }
    }

    &__mobile {
        display: none;
        
        @include for-phone-only {
            display: flex;
            color: white;
            position: absolute;
            left: 80%;
            top: 30%;
            
        }

        &-item {
            cursor: pointer;
        }

        &-menu {
            
            display: none;
            
            @include for-phone-only {
                    background-color: black;
                    justify-content: space-around;
                    align-items: center;
                    
    
                    & a {
                        font-size: 20px;
                        padding: 10px;
                    }

                }

        }
        

    }

    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr .5fr;

        @include for-phone-only {
            display: none;
        }

        @include for-tablet-portrait-up {
            grid-template-columns: 0fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr .5fr;
        }

        .figure {
            clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
            background-color: whitesmoke;
        }

        &-item {
            display: flex;
            align-items: center;
            justify-content: center;


            &-project {
                margin-left: 10px;

            }
           
        }
           
    }
    
}

header {
    border-bottom: solid darkgray 1px;
    @include for-phone-only {
        border-bottom: solid darkgray 1px;
    }
}