.home-main {
    display: grid;
    grid-template-rows: 1fr 5fr;
    background-color: black;

    @include for-phone-only {
        grid-template-rows: 1fr 6fr;
    }

    &-header {
        margin: 0 auto;
        color: white;
        padding: 10px 0;

        @include for-phone-only {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    }

    &-content {
        color: white;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 20px;
        column-gap: 30px;
        width: 90%;
        margin: 0 auto 20px auto;

        @include for-phone-only {
            display: grid;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            grid-template-columns: none;
            width: 85%;
        }

        &-box {
            display: flex;
            justify-content: center;
            align-items: center;
            border: white solid 2px;
            height: 350px;
            width: 100%;
            position: relative;

            &-photos {
                // background: url(assets/images/woman-5477042_1280.jpg);
                background: url('https://cdn.pixabay.com/photo/2020/08/10/07/35/woman-5477042_1280.jpg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                opacity: 0.8;
                
                &-hover {
                    position: absolute;
                    background-color: rgba($color: #000000, $alpha: 0.2);;
                    width: 100%;
                    height: 100%;
                    transition: 0.3s ease-in-out;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    opacity: 0;
                    
                    &:hover {
                        background-color: rgba($color: #000000, $alpha: 0.8);
                        opacity: 1;
                    }
    
                    &-img {
                        color: white;
                        margin-bottom: 15px;
                    }
                }

            }

            &-videos {
                overflow: hidden;

                &-hover {
                    position: absolute;
                    background-color: rgba($color: #000000, $alpha: 0.2);;
                    width: 100%;
                    height: 100%;
                    transition: 0.3s ease-in-out;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    opacity: 0;
                    
                    &:hover {
                        background-color: rgba($color: #000000, $alpha: 0.6);
                        opacity: 1;
    
                    }
    
                    &-img {
                        color: white;
                        margin-bottom: 15px;
                    }
                }
            }

            &-films {

            }
        }
    }
    
}