.about-main {
    background-color: black;
    display: grid;
    grid-template-rows: .1fr 1fr 1.5fr;
    padding: 70px 0 30px 0;
    row-gap: 70px;

    &-heading {
        margin: 0 auto;
        width: 90%;
        color: $primary;
        display: flex;
        justify-content: center;
        align-items: center;
        letter-spacing: 15px;

    }

    &-info {
        margin: 0 auto;
        width: 90%;
        display: grid;
        grid-template-columns: 1fr 1.3fr;

        &-img {
            width: 500px;
            height: 350px;
            border-radius: 90px 10px 90px 10px;
            box-shadow: 20px 20px 0px 0px $primary-300; 
        }

        &-text {
            color: white;
            text-align: justify;
            p {
                line-height: 26px;
                font-size: 16px;

            }

        }
    }

    &-contact {
        width: 90%;
        display: grid;
        grid-template-rows: auto 1fr;
        margin: 0 auto;

        &-heading {
            color: white;
            margin: 0 auto;
        }

        &-form {
            margin: 0 auto;
        }
    }
}