@mixin for-phone-only {
    @media (max-width: 699px) {
        @content;
    }
}

@mixin for-tablet-portrait-up {
    @media (max-width: 1000px) {
        @content;
    }
}

@mixin for-tablet-landscape-up {
    @media (min-width: 900px) {
        @content;
    }
}

@mixin for-between-phone-and-tablet {
    @media (min-width: 1200px) {
        @content;
    }
}

@mixin for-big-desktop-up {
    @media (min-width: 1800px) {
        @content;
    }
}
